
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header, .content, .footer {
    background-color: #1f2937;
    color: white;
}

a {
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}
li {
    list-style-type: none; 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    flex: 1;
}

.logo {
    font-size: 2rem;
    font-weight: 900;
    display : flex;
    flex-direction: column;
}

.logo img {
    padding-right: 200px;
}

ul {
    display: flex;
    gap: 24px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 90px;
    flex: 1;
}

.main-image img {
    border-radius: 5%;
    border: solid white;
    max-width: 100%;
    max-height: auto;
    width: 800px;
    height: auto;
}

.main-info {
    max-width: 50%;
}

.information {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.info-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
}

.card {
    max-width: 200px;
    text-align: center;
}

.card img {
    border-radius: 5%;
    border: solid #1f2937;
}

.card h3 {
    margin:0;
}

.testimonials {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.testimonials h1 {
    font-style: italic;
    font-weight: normal;
}

.testimonials h3 {
    font-size: 1.2rem;
    font-weight: 900;
    margin-left: auto;
}

.signup {
    background-color: #3882f6;
    color: white;
    margin: 100px;
    padding: 10px 50px;
    border-radius: 10px;
    flex: 1;
}

.signup-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    gap: 50px;
}

.signup-text  h2, h4 { 
    margin: 0px;
}

.signup-button-inner {
    border-radius: 10px;
    padding: 10px 40px;
    background-color: #3882f6;
    border: solid white;
    color: white;
    
}

.content .signup-button-inner {
    border: none
}

.signup-button-inner:hover {
    background-color: #8eb7f8;
    cursor: pointer;
}
.signup-button-inner:active {
    transform: translateY(4px)
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}