
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

header, .content, .footer {
    background-color: #1f2937;
    color: white;
}

a {
    text-decoration: none;
    color:white;
    font-size: 1.2rem;
}
li {
    list-style-type: none; 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo {
    font-size: 2rem;
    font-weight: 900;

}
ul {
    display: flex;
    gap: 24px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    gap: 90px;
}

.main-image img {
    border-radius: 5%;
    border: solid white;
}